asgiref==3.7.2
certifi==2021.10.8
Django==3.2.1
djangorestframework==3.14.0
itypes==1.2.0
mysql==0.0.3
mysqlclient==2.2.0
pyparsing==3.0.8
pyrsistent==0.18.1
pytz==2021.1
PyYAML==5.3.1
ruamel.yaml.clib==0.2.6
six==1.16.0
sqlparse==0.4.1
typing_extensions==4.8.0
uritemplate==4.1.1
urllib3==1.26.9