<ul>
    {% for obj in response %}
        <li>{{ obj.id }} - {{ obj.nombre }}</li>
    {% endfor %}
    </ul>
    <form action="{% url 'web:formulario' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <p><label for="id_nombre">Nombre:</label>
        <input id="id_nombre" type="text" name="nombre" maxlength="100" required></p>
    <p><label for="id_apellido">Apellido:</label>
        <input id="id_apellido" type="text" name="apellido" maxlength="100" required></p>
    <p><label for="id_email">Email:</label>
        <input id="id_email" type="email" name="email" maxlength="100" required></p>
    <p><label for="id_password">Contraseña:</label>
        <input id="id_password" type="password" name="password" maxlength="100" required></p>
    <p><label for="id_tipoUsuario">Tipo usuario:</label>
        <input id="id_tipoUsuario" type="text" name="stock" maxlength="25" required></p>
        <button type="submit">Crear productos</button>
    </form>